
<div class="center">
    <button (click)="search(input.value) " class="btn btn-outline-info btn-sm button-search" >Search</button>
  <input class="input" #input type="text" placeholder="Input title to search" style="margin: 4px;">
</div>

<!-- photo -->
<div class="gallery-list">
  <ng-container *ngFor="let photo of clientService.listPhoto ; let i = index">
    <img [src]="photo.urlImage" (click)="switchMode(i)" class="image" >
  </ng-container>
</div>

<!-- Loader -->
<div *ngIf="clientService.loader" class="text-info d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
  </div>

<!-- handler scroll event -->
<div infiniteScroll 
[infiniteScrollDistance]="0.5"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()"></div>

<!-- popup -->
<app-popup [parentSubject]="parentSubject"></app-popup>