<!-- popup component -->

<ngx-smart-modal #popupModal identifier="popupModal" *ngIf="clientService.listPhoto[0]" class="center">

    <span *ngIf="clientService.listPhoto[indexPopup-1]">
      <img (click)="prev()" [src]="clientService.listPhoto[indexPopup-1].minSizeUrl" class="minImage">
    </span>
    <span>
      <img [src]="clientService.listPhoto[indexPopup].maxSizeUrl" class="maxImage" >
    </span>
    <span  *ngIf="clientService.listPhoto[indexPopup+1]">
      <img (click)="next()" [src]="clientService.listPhoto[indexPopup+1].minSizeUrl" class="minImage" >
    </span>

</ngx-smart-modal>